<p id="notice"><%= notice %></p>

<h1>Listing Landmarks</h1>
<br>
<div class="list-group">
  <% @landmarks.each do |landmark| %>
  <a href="/landmarks/<%= landmark.id.to_s %>" class="list-group-item list-group-item-action clearfix">
    <h3 class="list-group-item-heading"><%= landmark.name %></h3>
    <small><%= landmark.address %></small><br><br>
    <div class="row">
      <div class="col-md-2">
    <% if landmark.image? %>
        <%= image_tag landmark.image, :size => "150x100" %>
    <% end %>
      </div>
      <div class="col-md-4 giveMeEllipsis">
        <%= landmark.description %>
      </div>
      <% if !current_user.favorited?(landmark) %>
        <form action="/favorites/create_from_listing" method="post" class="btn">
          <input type="hidden" name="landmark_id" value="<%= landmark.id.to_s %>">
          <input type="submit" value="Favorite">
        </form>
      <% elsif current_user.favorited?(landmark) %>
        <form action="/favorites/unfavorite_from_listing" method="post" class="btn">
          <input type="hidden" name="landmark_id" value="<%= landmark.id.to_s %>">
          <input type="submit" value="Unfavorite">
        </form>
      <% end %>
    </div>
  </a>
</br>
  <% end %>
</div>
