<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landmark.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @landmark.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @landmark.address %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @landmark.criteria %>
</p>

<p>
  <strong>User:</strong>
  <%= @landmark.user.email %>
</p>


  <h3><strong>Reviews:</strong></h3>
    <table class="table table-hover">
      <% @landmark.reviews.each do |review| %>
      <tr>
        <td>
          <h4><%= review.user.email %> said:</h4> 
          <%= review.text %>
      <% end %>
        </td>
      </tr>

    </table>




<%= link_to 'Back', landmarks_path %>

<hr>

<h3>Review this landmark!</h3>

<%= render 'reviews/form' %>
