<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landmark.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @landmark.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @landmark.address %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @landmark.criteria %>
</p>

<p>
  <strong>User:</strong>
  <%= @landmark.user.email %>
</p>

<p>
  <strong id="review_list">Reviews:</strong>
  <ul>
    <% @landmark.reviews.each do |review| %>
      <li><%= review.text %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Back', landmarks_path %>

<hr>

<h3>Review this landmark!</h3>

<%= render 'reviews/form' %>
