<p id="notice"><%= notice %></p>

 <div class="row">
  <div class="col-md-4">
      <h1><%= @landmark.name %></h1>
      <% if user_signed_in? %>
        <small>Uploaded by:
        <a href="/users/<%= @landmark.user.id %>"> <%= @landmark.user.email %></a></small><br>
      <% end %>
      <h6><%= @landmark.address %></h6>

      <p><%= link_to image_tag(@landmark.image.url(:large)), @landmark.image.url %></p>

      <h4><%= @landmark.description %></h4>

      <p> <strong>Criteria:</strong>
        <%= @landmark.criteria %></p>


  <div class="star-rating starinline" data-score= <%= @avg_rating %> ></div>
   <em><%= "#{@star_ratings.length} reviews"%></em>
 </div>

 <div class="flow_r">
   <div id="map2" data-landmark-id="<%= @landmark.id%>">Google Map will appear here...</div>
 </div>

 </div>


<% if current_user %>
  <h3>Review this landmark!</h3>
    <% if user_signed_in? && @landmark.user_id != current_user.id  %>
    <%= render 'star_ratings/form' %>
    <% end %>
  <%= render 'reviews/form' %>
<% end %>



  <h3><strong>Reviews:
    <% if !user_signed_in? %>
      <h5>Please <a href="/users/sign_up">Sign Up</a> or <a href="/users/sign_in">Sign In</a> to Review </h5>
    <% end %>
  </strong></h3>
    <table class="table table-hover">
      <% if @landmark.reviews.count == 0 %>
        <em><h5>No reviews yet</h5></em>
      <% else %>
        <% @landmark.reviews.each do |review| %>
        <tr>
          <td>
            <!-- posting all reviews for that landmark -->
            <h4><%= review.user.email %> <small><%=review.user.created_at.strftime("%d %b %Y")%></small></h4>
              <%= review.text %>
              <!-- you can delete your own reviews if logged in -->
              <% if current_user && current_user.id == review.user.id %>
                <%= link_to 'Delete review', review, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          </td>
        </tr>
        <% end %>
    <% end%>
    </table>

<%= link_to 'Back', landmarks_path %>

<hr>
<!-- you can only add reviews if signed in -->

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'star_rating[rating]'
  });
</script>
