
<%= @user.email %>

<br>
<br>
<hr>


<a type="button" name="button" href="/landmarks/new" class="btn btn-primary">Create New Landmark!</a>

<br>
<hr>
<br>

<h3><u>My Landmarks</u></h3>
<table class="table table-hover">
  <% @user.landmarks.each do |landmark| %>
<tr>
  <td>
      <h4><strong><%= landmark.name %></strong></h4> 
      <h6><%= landmark.address %></h6>
      <%= landmark.description %> <br>
      <%= link_to 'Show', landmark %> |
      <%= link_to 'Edit', edit_landmark_path(landmark) %> |
      <%= link_to 'Destroy', landmark %>
  <% end %>
</td>
</tr>
</table>
