<h1 id="ourteam">Our Team</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <%= image_tag "cropped_face3.png", alt: "Timothy Proctor", class: "pic_size" %>
        <h3>Timothy Proctor</h3>
        <h5>Software Developer</h5>
      </div>
    </div>

    <div class="col-md-6">
      <%= image_tag "cropped_face3.png", alt: "Timothy Proctor", class: "pic_size" %>
      <h3>Mrinalini Sinha</h3>
      <h5>Software Developer</h5>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <%= image_tag "jessica3.jpg", alt: "Timothy Proctor", class: "pic_size" %>
        <h3>Jessica McCay</h3>
        <h5>Software Developer</h5>
      </div>
    </div>

    <div class="col-md-6">
      <%= image_tag "andrew.jpg", alt: "Timothy Proctor", class: "pic_size" %>
      <h3>Andrew Cox</h3>
      <h5>Software Developer</h5>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <%= image_tag "rudy.jpg", alt: "Timothy Proctor", class: "pic_size" %>
        <h3>Rodolfo I. Bañuelos</h3>
        <h5>Software Developer</h5>
      </div>
    </div>

    <div class="col-md-6">
      <%= image_tag "fede1.png", alt: "Timothy Proctor", class: "pic_size" %>
      <h3>Federico Gomez</h3>
      <h5>Software Developer</h5>
    </div>

  </div>




</div>
