
<h1>Welcome!</h1>


<p>
  Welcome to The Landmark Locator, your one stop shop for FUN!! Here you can find interesting places to go and things to do based on location and various amenities.
</p>



<!--TODO: requires functionality to actually search with map-->
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <form class="navbar-form navbar-left" action="landmarks/search_results" method="get">
        <div class="form-group">
          <input name="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default" name="">Submit</button>
      </form>
    </div>

    <form action="search/location_search" method="post" id="radius_form">
      <div class="col-md-1">
        <input type="text" class="form-control" placeholder="Zipcode" name="zipcode" id="zipcode" />
      </div>
      <div class="col-md-1">
        <button type="submit"  id="radius_button" class="btn btn-default">Landmarks Near Me</button>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-md-6">
     <div id="map">Google Map will appear here...</div>
  </div>

  <div class="col-md-6">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Rating</th>
        </tr>
      </thead>

      <tbody>
       <% @landmarks.each do |landmark| %>
         <tr>
           <td>
             <a href="/landmarks/<%= landmark.id.to_s %>" >
               <%= landmark.name %>
             </a>
           </td>
         <td>
           <a href="/landmarks/<%= landmark.id.to_s %>" >
           <%= landmark.address %>
             </a>
         </td>
         <td style="width: 15%">
           <!-- <a href="/landmarks/<%= landmark.id.to_s %>" > -->
           <% @star_reviews = StarRating.where(landmark_id: landmark.id) %>
             <% if @star_reviews.blank? %>
             <% @avg_rating = 0 %>
           <% else %>
             <% @avg_rating = @star_reviews.average(:rating).round(2) %>
           <% end %>
           <div class="star-rating" data-score= <%= @avg_rating %> ></div>
           <!-- </a> -->
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>

 
  <center><%= will_paginate @landmarks %></center>

  </div>
</div>
<footer><div class="well">
  <small>2016. Delta LEARN! Academy</small>
</div></footer>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'star_rating[rating]'
  });
</script>
