<body id="login_body">


<div id="sign_in" class="container-fluid">


  <div class="row">

    <div class="col-md-3">

    </div>
    <!-- <div class="col-md-4">

    </div> -->
    <div class="login_box">


    <div id="login_block" class="col-md-7">
      <h2 class="devise_header">Log In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="email_login">
          <%= f.label :email  %> <br/>
          <%= f.email_field :email, autofocus: true, size: 23 %>
        </div>

        <div class="password_login">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", size: 23 %>
        </div>


        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>


        <div class="login_btn">
          <%= f.submit "Log In" %>
        </div>
      <% end %>
      <div class="facebook2">
      <%= render "devise/shared/links" %>
      </div>
    </div> <!--end login block-->

  </div> <!--close box-->
    <div class="col-md-2">

    </div>




  </div> <!--row-->

</div> <!--container-->
</body>


<!-- <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> -->
