<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <textarea class="form-control" rows="3" type="text_area" name="review[text]">
  </textarea>
  <div class="field">
    <input type="hidden" name="review[landmark_id]" value="<%= @review.landmark.id %>">
    <input type="hidden" name="review[user_id]" value="<%= current_user.id %>">
  </div><br>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
         Create Review
  <% end %>
<% end %>
