<!DOCTYPE html>
<html>
<head>
  <title>Landmarkapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- What follows is temporary unitl we have bootstrap set up -->
  <!-- <a href="/users/sign_up">Sign Up</a>
  <a href="/users/sign_in">Sign In</a>

  <%= link_to 'sign out', destroy_user_session_path, method: :delete %> -->
  <!-- <h2> <a href="/users/sign_out">Sign Out</a></h2> -->

<%= yield %>

</body>
</html>
